.Rproj.user
.Rhistory
.RData
.Ruserdata

.httr-oauth
.httr-oauth-SUSPENDED

cache/

## these are downloaded automatically, no point in caching
figures/*Badge.png

## html cache/files
*_cache/
*_files/
